@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row align-items-left px-4">
            <div class="col-11">
                <span style="display:block;text-align: left"stye>Hola @username!</span>
            </div>
            <div class="col-1">
                <a style="display: block;cursor: pointer; text-decoration: underline; color: blue; text-align: end;" @onclick="CerrarSesion" target="_blank">Salir</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string username;
    protected override async Task OnInitializedAsync()
    {
        username = await LocalStorage.GetItemAsStringAsync("username");
    }
    public async Task CerrarSesion()
    {
        //aca va la logica de claims y auth etc etc
        await LocalStorage.RemoveItemAsync("username");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo(Rutas.Login);
    }

}
