@attribute [Route(Rutas.Index)]

@if (tienePermiso)
{
    <h1>Hello, world!</h1>

    <p>Welcome to your new app</p>

}
else
{
    <SinPermisoComponent></SinPermisoComponent>
}


@code{
    private bool tienePermiso = false;

    protected override void OnInitialized()
    {
        tienePermiso = false; //aca haces la logica que te diga si tiene permiso o no el usuario
    }
}