@page "/Productos/{IdCategoria:int}"

@if (tienePermiso)
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <ProductosList Productos="productos"></ProductosList>
    </div>

}
else
{
    <SinPermisoComponent></SinPermisoComponent>
}


@code {

    int _selectedIdCategoria;
    [Parameter]
    public int IdCategoria
    {
        get => _selectedIdCategoria;
        set
        {
            _selectedIdCategoria = value;
            valuechanged();
        }
    }
    private bool tienePermiso = false;
    private ProductoBLL productoBLL;
    public ProductoCategoria()
    {
        productoBLL = new ProductoBLL();
    }

    public IList<Producto> productos { get; set; } = new List<Producto>();

    protected override void OnInitialized()
    {
        tienePermiso = true; //aca haces la logica que te diga si tiene permiso o no el usuario
        productos = productoBLL.GetProductos(IdCategoria);
    }

    public void valuechanged()
    {
        productos = productoBLL.GetProductos(IdCategoria);
    }

}