@page "/Productos"
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="row">
    <ProductosList Productos="productos"></ProductosList>
</div>


@code{
    private bool tienePermiso = false;

    private ProductoBLL productoBLL;
    public Productos()
    {
        productoBLL = new ProductoBLL();
    }

    public IList<Producto> productos = new List<Producto>();

    protected override void OnInitialized()
    {
        tienePermiso = false; //aca haces la logica que te diga si tiene permiso o no el usuario
        if (!tienePermiso)
        {
            NavigationManager.NavigateTo(Rutas.SinPermiso);
        }
        productos = productoBLL.GetProductos(null);
    }
}