@if (Productos != null && Productos.Count > 0)
{
    foreach (var producto in Productos)
    {
        <div class="col">
            <div class="card">
                <img src=@producto.ImgURL class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <p class="card-text">@producto.Descripcion</p>
                    <p class="card-text"><small class="text-muted">$@producto.Precio</small></p>
                </div>
            </div>
        </div>
    }
    
}
else
{
    <h1>No hay productos en este momento</h1>
}



@code {
    [Parameter]
    public IList<Producto> Productos { get; set; }
}
